/**
 * @file
 * lightsocialbuttons CSS Default
 */

.lightsocialbuttons-container {
  font-family: Arial, sans;
}

/* SOCIAL NETWORK */
.lightsocialbuttons-container .share {
  margin-top: -10px;
  width: 100%;
  text-align: right;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
}

.lightsocialbuttons-container .share_total {
  float: left;
  margin-right: 20px;
}

.lightsocialbuttons-container .share_total_value {
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
}

.lightsocialbuttons-container .share_total_label {
  font-size: 0.9em;
  color: #999;
  text-transform: uppercase;
}

.lightsocialbuttons-container .share li {
  display: inline;
  padding-right: 10px;
}

.lightsocialbuttons-container .share a {
  text-decoration: none;
  padding: 0px 4px 0px 24px;
  line-height: 18px;
  display: inline-block;
  border-radius: 2px;
  margin: 10px 0 0 0;
  background-size: 18px;
  background-repeat: no-repeat;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.1),inset 0px 1px 0px rgba(255,255,255,0.05)
}

.lightsocialbuttons-container .share a span {
  font-weight: bold;
  display: block;
  color: white;
  text-align: right;
  min-width: 24px;
  font-size: 11px;
  text-decoration: none;
}

.lightsocialbuttons-container .share a:link,
.lightsocialbuttons-container .share a:link span {
  text-decoration: none;
}

/*icon credits: iconfinder.com*/
.lightsocialbuttons-container .btnTw,
.lightsocialbuttons-container .btn-twitter {
  background-color: #2daae1;
  background-image: url('images/twitter.png');
}


.lightsocialbuttons-container .btnFb,
.lightsocialbuttons-container .btn-facebook {
  background-color: #3b5998;
  background-image: url('images/facebook.png');
}

.lightsocialbuttons-container .btnPr,
.lightsocialbuttons-container .btn-pinterest {
  background-color: #ca2128;
  background-image: url('images/pinterest.png');
}

.lightsocialbuttons-container .btnGp,
.lightsocialbuttons-container .btn-googleplus {
  background-color: #d0422a;
  background-image: url('images/googleplus.png');
}

.lightsocialbuttons-container .btnLi,
.lightsocialbuttons-container .btn-linkedin {
  background-color: #1783bc;
  background-image: url('images/linkedin.png');
}

.lightsocialbuttons-container .btnDl,
.lightsocialbuttons-container .btn-delicius {
  background-color: #2873cc;
  background-image: url('images/delicius.png');
}

.lightsocialbuttons-container .share_vertical {
  text-align: center;
}

.lightsocialbuttons-container .share.share_vertical li {
  text-align: center;
  display: block;
  padding: 0;
}

.lightsocialbuttons-container .share_vertical.share {
  margin-top: 30px;
}
.lightsocialbuttons-container .share_vertical.share a {
  margin-top: 10px;
}

.lightsocialbuttons-container .share_vertical.share_total {
  float: none;
  margin-right: 0;
}

.lightsocialbuttons-container .share_vertical .share_total_value {
  display: block;
}

.lightsocialbuttons-container .share_clear {
  clear: left;
}
